<%= link_to 'Back to Index', root_path %>
<h1>Log in</h1>

<br><br>

<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br><br>

  <%= f.submit 'Log in' %>
<% end %>
