<%= link_to 'Back to Index', root_path %>
<h1>Sign Up</h1>

<br><br>
<div>
  <%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>

    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>

    <%= f.submit 'Sign Up' %>
  <% end %>
</div>
