<br><br>

<h2 class = "text-center">Create a New Event</h2>

<div class="container">
  <div class="row">
    <div class="form-group col-sm-6 col-sm-offset-3">
      <%= form_for @event do |f| %>
        <%= f.label :description, 'Describe the event' %><br>
        <%= f.text_area :description, class: "form-control" %><br><br>

        <%= f.label :location %><br>
        <%= f.text_field :location, class: "form-control" %><br><br>

        <%= f.label :date %><br>
        <%= f.date_field :date, class: "form-control" %><br><br>

        <% users = verify_attendees %>
        <% unless users.empty? %>
          <%= f.label :attendees, 'Select the users to invite to the event' %><br>
          <% users.each do |user| %>
            <%= check_box_tag "user_ids[]", user.id, class: "form-control" %>
            <%= user.username %><br>
          <% end %>
        <% else %>
          <p> There aren't registered users to invite to the event </p>
        <% end %>

        <br>

        <%= f.submit 'Create!', class: "btn btn-primary btn-block"  %>
      <% end %>
    </div>
  </div>
</div>
