<p>You have been invited to these <%= link_to 'Events', current_user %></p>

<br>

<h2>Your Created Events</h2>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
      <th>Attendees</th>
    </tr>
  </thead>

  <tbody>    
    <% @event.each do |e| %>
      <tr>
        <td><%= e.description %></td>
        <td><%= e.location %></td>
        <td><%= e.date %></td>
        <% e.event_attendees.each do |a| %>
          <td><%= a.username %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>
