<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    
    
    <% unless current_user.nil? %>
      <p><%= link_to 'Create an Event', new_event_path %></p>      
      <p><%= link_to 'Log out', logout_path, method: :delete %></p>

      <h1>Hi <%= current_user.username %></h1>
    <% else %>      
      <p>Already an user? <%= link_to 'Log In', login_path %></p>
      <p>New user? <%= link_to "Sign up!", signup_path %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
